/* style.css */

:root {
    --cor0: #8d8d8d;
    --cor1: #01050A;
    --cor2: #0D1117;
    --cor3: #161B22;
    --cor4: #21262D;
    --cor5: #30363D;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    padding-top: 30px;
    min-height: 80px;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    color: white;
}

main {
    background-color: white;
    border-radius: 5px;
    text-align: left;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    max-width: 1400px;
    min-width: 700px;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 30px;
    height: 720px;
    margin: auto;
    left: 50%;
    top: 74%;
}

main p {
    margin: 14px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 1.5em;
}

main li {
    list-style-type: none;
    margin: 15px;
}

main a {
    color: black;
    padding: 8px;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
    transition-duration: 0.5s;
}

main a:hover {
    background-color: var(--cor0);
    text-decoration: underline;
    color: var(--cor4);
}

iframe {
    background-color: rgba(211, 211, 211, 0.44);
    width: 90vw;
    height: 400px;
    border: 2px solid black;
}

footer {
    background-color: black;
    text-align: center;
    font-size: 12pt;
    position: relative;
    margin-top: 30px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: -790px;
    color: white;
}

footer a {
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
    transition-duration: 0.5s;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor5);
}